In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [2]:
books  = pd.read_csv("D:/excelr/assignments/book1.csv",  encoding='latin1')

In [3]:
books.head()

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

In [4]:
books.shape

(10000, 4)

In [5]:
books['Book.Title'].unique()

array(['Classical Mythology', 'Clara Callan', 'Decision in Normandy', ...,
       'How to Flirt: A Practical Guide', 'Twilight',
       'Kids Say the Darndest Things'], dtype=object)

In [6]:
print('# of records: %d\n# of books: %d\n# of users: %d' % (len(df1), len(df1['title'].unique()), len(df1['userID'].unique())))

NameError: name 'df1' is not defined

In [ ]:
len(books['Book.Title'].unique())

In [ ]:
book = books.drop(['Unnamed: 0'], axis = 1)

In [ ]:
book.tail(2)

In [ ]:
books = book.rename({'User.ID':'UserId','Book.Title':'Title','Book.Rating':'Rating'}, axis=1)
books

In [ ]:
books['Rating'].value_counts()

In [ ]:
len(books['UserId'].unique())

In [ ]:
books['Rating'].value_counts().sort_index().plot(kind='bar')

In [ ]:
books.sort_values('UserId')

In [ ]:
books_new = books.pivot_table(index='UserId', columns='Title', values='Rating')

In [ ]:
books_new

In [ ]:
#Impute those NaNs with 0 values
books_new.fillna(0, inplace=True)

In [ ]:
books_new.index = books['UserId'].unique()
books_new

Calculating Cosine Similarity between Users

In [ ]:
user1 = 1 - pairwise_distances( books_new.values, metric='cosine')
user1

In [ ]:
np.fill_diagonal(user1, 0)

In [ ]:
#Store the results in a dataframe
user = pd.DataFrame(user1)
user

In [ ]:
#Set the index and column names to user ids 
user.index = books.UserId.unique()
user.columns = books.UserId.unique()

In [ ]:
user

In [ ]:
user.iloc[100:120, 100:120]

In [ ]:
user.idxmax(axis=1)

In [ ]:
user.idxmax(axis=1)[20:40]

In [ ]:
user.loc[8].idxmax()

In [ ]:
books[(books['UserId']==276813) | (books['UserId']==8)]

In [ ]:
id1=books[books['UserId']==276813]
id1

In [ ]:
id2=books[books['UserId']==8]
id2

In [ ]:
id1.Title

In [ ]:
id2.Title

In [ ]:
pd.merge(id1,id2,on='Title',how='outer')

Considering the most similar customer

In [ ]:
def recommend(custID):
    simID = user.loc[custID].idxmax()
    simID_books = books[books['UserId'] == simID].Title
    custID_books = books[books['UserId'] == custID].Title
    return set(simID_books) - set(custID_books)

In [ ]:
recommend(276813)

In [ ]:
recommend(507)

In [ ]:
recommend(3462)